.adv {
	text-align: center;
}
.adv h4 {
	color: #0B74C4;
    font-size: 16px;
    font-weight: 600;
}
.row {
	padding-top: 48px;
    padding-bottom: 48px;
}
.row h3 {
    text-align: center;
}
.nav {
	display:inline-block;
    background-color:#0B74C4;
}
.nav a {
	color:#fff;
} 
.nav a:hover {
	color:#0B74C4;
}    
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
} 
.carousel-inner>.item>table:first-child {
    margin-left: 11%;
} 
.carousel-inner>.item>table{
    margin-left: 2%;
}
footer {
	text-align: center;
}