* {margin: 0; padding: 0; outline: 0;}
body {
	background-color: #F9F9F9;
	font-family: 'Helvetica', sans-serif;
}
h1, h2 {
	font-weight: 300;
	margin:0 0 15px 0;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 2em;
}
.blue {
	font-size: 2.5em;
    color: #00B0F0;
}
.orang {
	font-size: 2.5em;
    color: #F79646;
}
.gray {
	font-size: 2.5em;
    color: #A6A6A6;
}
nav {
	background-color:#ddd; 
}
nav ul {
	display: flex;
	list-style-type: none;
	text-align:center;
	margin: 1px 5%;
}
nav a {
	width: 25%;
	padding: 30px;
	background-color: gray;
	margin-right: 1px;
	font-size: 2em;
    font-weight: bold;
    color:#fff;
}
nav a:hover {
	background-color:#00B0F0;
}
nav a {
	text-decoration: none;
}
.topmenu {
	float:right;
	font-size: 25px;
    font-weight: bold;
}
.topmenu li {
    font-size: 1.1em;
    font-weight: bold;
    width: 30%;
    text-align: center;
}
#power {
	background: url(../img/back.jpg) no-repeat;
	background-size: cover;
}  
header h1 {
	font-size: 70px;
    font-weight: bold;
    padding: 100px 0;
    width: 55%;
    float: right;
}
.row {
	margin-right: 5%;
	margin-left: 5%;
	padding: 50px 0;
}
footer,
.row:before,
.row:after {
  display: table;
  content: " ";
}
footer,
.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}
footer,
.row:after {
  clear: both;
}

.row ul {
  display: flex;
  margin-right:50px;
  list-style-type: none;
}
.advant {
	display: block;
	height: 600px;
	min-height: 500px;
	margin: 0px;
}
.advant div {
	float:left;
}
.first div {
	width:33.333%;
}
.second div {
	width:25%;
}
.third div {
	width:50%;
}
img {
	max-height: 500px;
}
footer {
	background-color: #A6A6A6;
    height: 100px;
    width: 100%;
    text-align: center;
}
.socialb i {
	padding: 15px;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-top: 25px;
    margin-right: 5px;
    color: #fff;
}
.nblock {
	padding: 100px;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
.comtext {
	text-align: left;
	padding: 50px 0 0 110px;
}
.comtext span {
	color: #F79646;
}
.comtext span:nth-child(3) {
	color: #00B0F0;
}
