@charset "UTF-8";

/*-----------------------------------------
===========================================
  CUSTOM CSS FOR TERSUS TEMPLATE
===========================================
-----------------------------------------*/


 /*!
 Portfolio thumbnail zoom effect
*/

.folioWrapper {
    display: inline-block;
    overflow: hidden;
}

.folioWrapper:hover .folioImg{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}

  .folioImg {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webkit-transition: 2s ease all;
    -moz-transition: 2s ease all;
    -o-transition: 2s ease all;
    transition: 2s ease all;
}

.folioImg:hover {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.folioFrame{
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
 }



 /*===========================================*/


 /*!
 Additional CSS for smoother hover transition
*/

.customSmooth{
  transition: all 700ms ease;
  -webkit-transition: all 700ms ease;
 }

.customFrameCurve{
  transition: all 700ms ease;
  -webkit-transition: all 700ms ease;
 }